@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@using EcommerceDEPI.Models;

@{
    var pros = ViewData["pros"] as List<Product>;
}

<a class="create-button"  asp-controller="Product" asp-action="Create">Create a Product</a>

<style>
    body {
        margin: 0 !important;
    }

    .container {
        margin: 0;
        padding: 0;
        height: 90vh;
        width: 100%;
        max-width: none !important;
        padding: 0 5%;
    }

    nav {
        margin: 0 !important;
        padding: 0 !important;
        height: 10vh !important;
    }

    main.pb-3 {
        padding: 0 !important;
        height: 100%;
        width: 100%;
    }

    footer {
        height: 10%;
    }
</style>

<table>
    <thead>
    <th>Id</th>
    <th>Name</th>
    <th>Amount</th>
    <th>Price</th>
    <th colspan="2">Actions</th>
    </thead>
    <tbody>
        @foreach (var p in pros)
        {
            <tr>
                <td>@p.Id</td>
                <td>@p.Name</td>
                <td>@p.Amount</td>
                <td>@p.Price</td>
                <td>
                    <a asp-controller="Product" asp-action="Edit" asp-route-pID="@p.Id">Edit</a>
                </td>
                <td>
                    <a asp-controller="Product" asp-action="Delete" asp-route-pID="@p.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>